.card__description {
    margin: 0;
    padding: 0 19px 0 21px;
    width: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}