.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-self: flex-start;
    flex-direction: row;
}

@media screen and (max-width: 660px) {
    .profile__image {
        margin: 0 auto;
        padding-top: 25px;
        justify-items: center;
    }
}