.overlay__close-button {
    margin: 0;
    padding: 0;
    position: absolute;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    top: -45px;
    right: -45px;
    cursor: pointer;
    background: url(../../../images/close-icon-overlay.svg) transparent;
    background-size: 40px 40px;
}

.overlay__close-button:hover {
    opacity: .6;
    transition: border .1s ease-in-out;
}

@media screen and (max-width: 660px) {
    .overlay__close-button {
        width: 26px;
        height: 26px;
        top: -35px;
        right: -35px;
        background-size: 26px 26px;
    }
}