.cards__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(282px, 1fr));
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    list-style: none;
    justify-content: center;
}
