.header {
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 0;
    border-bottom: 1px solid rgba(84,84,84, .7);
}

@media screen and (max-width: 320px) {
    .header {
        padding: 28px 0 0;
    }
}