.overlay {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*display: none;*/
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}