.overlay__container {
    padding: 34px 36px 37px;
    position: relative;
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    border-radius: 10px;
    color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 879px) {
    .overlay__container {
        width: 350px;
        padding: 17px 18px 18.5px;
    }
}

@media screen and (max-width: 660px) {
    .overlay__container {
        width: 300px;
    }
}

@media screen and (max-width: 360px) {
    .overlay__container {
        padding: 25px 22px;
        width: 282px;
        height: 322px;
    }
}