.profile__name {
    margin: 0;
    padding: 0;
    max-width: 400px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: rgb(255, 255, 255);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .profile__name {
        max-width: 270px;
        font-size: 32px;
    }
}

@media screen and (max-width: 879px) {
    .profile__name {
        margin: 20px 0 0;
        font-size: 27px;
        line-height: 33px;
    }
}
