.profile__description {
    margin: 0;
    max-width: 400px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: rgb(255, 255, 255);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .profile__description {
        max-width: 270px;
        font-size: 14px;
        line-height: 1.21;
    }
}