@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__change-button/profile__change-button.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__indication/profile__indication.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__caption/profile__caption.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/footer/footer.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);