.profile__info {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 321px) {
    .profile__info {

    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        align-items: center;
    }
}